<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>Wiggles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Wiggles</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="">Home</a>
            <li class=""><a href="">About</a>
            <li class=""><a href="">Support</a>
            <li class=""><a href="">Contact</a>
          </ul>
          <form class="navbar-form pull-right">
            <input class="span2" type="text" placeholder="Email">
            <input class="span2" type="password" placeholder="Password">
            <button type="submit" class="btn">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
